
footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: white;
    background-color: #f9f9f9;
}

.footer > *{
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left .image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer-left .image img{
    width: 100px;
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.footer-bottom {
    margin-top: 25px;
    text-align: center;
    color: #999;
} 

.footer-left p {
    padding-right: 20%;
    color: #999;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.socials a {
    width: 40px; 
    height: 40px;
    display: flex;
    justify-content: center;
}

.socials svg {
    fill: #999;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right {
        flex: 2 0px;
    }
}