.product-card {
    width: 190px;
    height: 90px;
    border-radius: 25px;
    padding-top: 24px;
    border: solid 1px #0897E9;
    position: relative;
    cursor: pointer;
    transition: background .4s ease;
    color: #022336;
}

h3 {
    margin: auto;
    text-align: center;
}

.area-button{
    width: 100%;
    position: absolute;
    bottom: -15px;
}

.area-more-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card.desabled {
    background: #eeeeee;
}

.product-card.selected {
    background: #0897E9;
    color: #fff;
    font-weight: 500;
}

.area-more-info > .btn-more-info {
    height: 35px;
    width: 130px;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 25px;
    background: #0897E9;
    color: #fff;
    font-weight: 500;
    cursor: pointer;

}

.area-more-info > .btn-arrow-info {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: auto;
    outline: none;
    border: none;
    background-color: #fff;
    box-shadow: 1px 2px 5px #00000027;
    color: #0897E9;
    padding-top: 5px;
}
/* .product-card .area-more-info > p {
    opacity: 1;
    transition: opacity 0.2s ease-in .4s;
    visibility: visible;
}

.product-card .area-more-info > span {
    display: none;
    opacity: 0;
    transition: opacity .2s ease-in-out .4s;
}

.product-card.selected .area-more-info > p {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.2s ease .2s;
}

.product-card.selected .area-more-info > span {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease-in .4s;
    visibility: visible;
} */

@keyframes blink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .blink {
    animation: blink 1s normal;
  }
