@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}