
section.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

section.section > h2 {
  font-size: 2.1rem;
  color: #333;
}

section.section > p {
  margin-top: 14px;
  font-size: 1.4rem;
  align-items: center;
} 

#feedback-section {
    padding: 30px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .feedback-item {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  /* A classe 'fade-in' será adicionada dinamicamente quando o componente se tornar visível */
  .feedback-item.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  

  