.client-feedback-area {
    background: #e8e8e8;
    padding: 60px 20px 100px 20px;
}

.client-feedback-area h2 {
    width: 50%;
    margin: auto;
    font-size: 2.1rem;
    text-align: center;
    color: #075b8d;
}